{% extends "baseTemplate.html" %}
{% block content %}

{% with messages = get_flashed_messages(category_filter=["message"]) %}
{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
    <strong>{{message}}!</strong>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<h1> Edit Menu Item </h1>
<form action="#" method = 'post'>


    <p>Name:</p>
        <input type ='text' size='30' name='name' placeholder = '{{item.name }}'>
    <p>Description:</p>
        <input type ='text' size='30' name='description' placeholder = '{{item.description}}'>
    <p>Price:</p>
        <input type ='text' size='30' name='price' placeholder = '{{item.price}}'>
    <p>Course:<p>

    {% if item.course == 'Appetizer' %}
        <p><input type ='radio' name='course' value='Appetizer'checked >Appetizer</p>
    {%else%}
    <p><input type ='radio' name='course' value='Appetizer' >Appetizer</p>
    {% endif %}

    {% if item.course == 'Entree' %}
       <p><input type ='radio' name='course' value='Entree' checked>Entree</p>

    {% else %}
        <p><input type ='radio' name='course' value='Entree'>Entree</p>
    {% endif %}

    {% if item.course == 'Dessert' %}
        <p><input type ='radio' name='course' value='Dessert'checked >Dessert</p>

    {% else %}
       <p><input type ='radio' name='course' value='Dessert'>Dessert</p>

    {% endif %}
    {% if item.course =='Beverage' %}
        <p><input type ='radio' name='course' value='Beverage'checked >Beverage</p>
    {% else %}
        <p><input type ='radio' name='course' value='Beverage'>Beverage</p>
    {% endif %}



<input type='submit' value='Edit'>


<a href = '{{url_for('showMenu', restaurant_id=item.restaurant_id)}}'> Cancel</a>
{% endblock %}