<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class='header'>

	<h1>{{restaurant.name}}</h1>

	</div>




<h2><a href = >Create New Item</a></h2>
<p></p>

<h2>Appetizers</h2>
<p><ul><li>Spinach Dip</li>
<li>creamy dip with fresh spinach</li>
<li>$1.99</li></ul>
</p>


<h2>Entrees</h2>
<p><ul><li>Cheese Pizza</li>
<li>made with fresh chees</li>
<li>$5.99</li></ul>
</p>



</body>
</html>