{% extends "baseTemplate.html" %}
{% block content %}
<body>

<h1>New Menu Item</h1>

<div class = 'pane'>
<form action="{{url_for('newMenuItem2', restaurant_id=restaurant_id )}}" method = 'POST'>

<dl>
    <dt>Name:</dt>
    <br>
        <dd><input type ='text' size='30' name='name'></d>
<br><br>
            <dt>Description:</dt>
            <br>
            <br>
        <dd><input type ='text' size='30' name='Description'></d>
<br>
            <dt>Price:</dt>
            <br>
        <dd><input type ='text' size='30' name='Price'></d>

</dl>

<form>
 <!--Course:<br><br>
  <input type="radio" name="colors" id="Appetizer">Appetizer<br>
  <input type="radio" name="colors" id="Entree">Entree<br>
  <input type="radio" name="colors" id="Dessert">Dessert<br>
  <input type="radio" name="colors" id="Beverage">Beverage<br>-->

  <input type='submit' value='Create'><br><br><a href = '{{url_for('showMenu') }}'>Cancel Create</a>
<br><br>



</form>
</div>

</body>
{% endblock %}