
<body>
<h1> Restaurants </h1>
{% for i in restaurants %}
{{i.name}}
<br>
{% endfor %}
<form action="#" method = 'post'>
 <a href='{{url_for('editRestaurant', restaurant_id = restaurant.id)  }}'>Edit Restaurant</a> <!-- This is calling the function in finalproject.py, which in turns, returns the editRestaurant.html. -->
 </br>
 <a href = '{{url_for('deleteRestaurant', restaurant_id = restaurant.id) }}'>Delete Restaurant</a>
<br>
  {% for i in items %}
	<p>Name:</p>
		<input type='text' size='30' name='name' placeholder='{{item.name}}'>
{% endfor %}
<br>




</body>	
</form>